.btn1{
  margin-left: 42%;
  margin-bottom: 60px;
  width: 245px;
  height: 48px;
  font-size: 16px;
  font-weight: bolder;
  color: #B88E2F;
  background: white;
  border: 1px solid #B88E2F;
  padding: 15px;
}