<div class="cartstr">
  <div class="cartstr__header">
  <span>Product</span>
  <span>Price</span>
  <span>Quantity</span>
  <span>Subtotal</span>
  </div>

<div class="cartstr__body">
  <picture >
    <source srcset="@@img-sm.webp" media="(max-width: 105px)">
    <source srcset="@@img-lg.webp" media="(max-width: 108px)">
    <img src="@@img.webp" alt="cart" class="cartstr__img">
  </picture>
  <p class="cartstr__title">@@title</p>
  <p class="cartstr__title">Rp. @@cena</p>
  <div class="cartstr__kolvo">@@kolvo</div>
  <p class="cartstr__cena2">Rp. @@cena</p>
  <img src="./assets/images/musor.webp" alt="musor"/>
</div>
</div>