<div class="goo">
    <picture>
        <source srcset="@@img-sm.webp" media="(max-width: 177px)">
        <source srcset="@@img-lg.webp" media="(max-width: 300px)">
        <img src="@@img.webp" class="go__img">
    </picture><br>
    <div class="go__title">
        <h class="go__h2">@@title</h><br>
        <span class="go__span">Rs. @@price</span>
        <div class="go__price">
            <span class="go__span">@@ocenka</span>
            <img src="@@star.webp" class="go__star">
            <div class="go__review">
                <p class="go__p">@@review Review</p>
            </div>
        </div>
    </div>
</div>