<div class="overlay"></div>
    <a href="./index3.html"><button type="submit" class="overlay__button">Add to cart</button></a>
    <div class="overlay__str">
        <div class="overlay__znaki">
            <div>
                <img src="./assets/images/overlay1.webp" alt="Знак1"/>
            </div>
            <div>
                <span class="overlay__text">Share</span>
            </div>
        </div>

        <div class="overlay__znaki">
            <div>
                <img src="./assets/images/overlay2.webp" alt="Знак2"/>
            </div>
            <div>
                <span class="overlay__text">Compare</span>
            </div>
        </div>

        <div class="overlay__znaki">
            <div>
                <img src="./assets/images/overlay3.webp" alt="Знак3"/>
            </div>
            <div>
                <span class="overlay__text">Like</span>
            </div>
        </div>

    </div>
</div>