<div class="shop">
    <div class="shop__left">
        <picture >
            <source srcset="@@img-sm.webp" media="(max-width: 80px)">
            <source srcset="@@img-lg.webp" media="(max-width: 76px)">
            <img src="@@img1.webp" alt="@@alt">
        </picture><br>
        <picture >
            <source srcset="@@img-sm.webp" media="(max-width: 76px)">
            <source srcset="@@img-lg.webp" media="(max-width: 80px)">
            <img src="@@img2.webp" alt="@@alt" class="shop__img">
        </picture><br>
        <picture >
            <source srcset="@@img-sm.webp" media="(max-width: 76px)">
            <source srcset="@@img-lg.webp" media="(max-width: 80px)">
            <img src="@@img3.webp" alt="@@alt" class="shop__img">
        </picture><br>
        <picture >
            <source srcset="@@img-sm.webp" media="(max-width: 76px)">
            <source srcset="@@img-lg.webp" media="(max-width: 80px)">
            <img src="@@img4.webp" alt="@@alt" class="shop__img">
        </picture>
    </div>


    <div>
        <picture >
            <source srcset="@@img-sm.webp" media="(max-width: 500px)">
            <source srcset="@@img-lg.webp" media="(max-width: 423px)">
            <img src="@@img_glav.webp" alt="@@alt">
        </picture>
    </div>

    <div class="shop__right">
        <h class="shop__title">@@title</h><br>
        <span class="shop__price">@@price</span>
        <div class="shop__star">
            <div>
            <picture >
                <source srcset="@@img-sm.webp" media="(max-width: 20px)">
                <source srcset="@@img-lg.webp" media="(max-width: 124px)">
                <img src="@@star.webp" alt="@@star">
            </picture>
            </div>
            <div class="shop__starcost">
                <span class="shop__cost">5 Customer Review</span>
            </div>
        </div>
            <p class="shop__text">Setting the bar as one of the loudest speakers in its class, the
                Kilburn is a compact, stout-hearted hero with a well-balanced
                audio which boasts a clear midrange and extended highs for a
                sound.
            </p>
            <span class="shop__cost">Size</span>
            <div class="shop__size">
                <div class="shop__size__first">
                    <span class="shop__span">@@sizeNow</span>
                </div>
                <div class="shop__size__next">
                    <span class="shop__span2">@@size1</span>
                </div>
                <div class="shop__size__next">
                    <span class="shop__span2">@@size2</span>
                </div>
            </div>
            <span class="shop__cost">Color</span>
            <div class="shop__krugi">
                <div class="shop__krug1"></div>
                <div class="shop__krug2"></div>
                <div class="shop__krug3"></div>
            </div>


        <div class="shop__button">
            <div><button type="submit" class="shop__kolvo">-   1   +</button></div>
            <div><button type="submit" class="shop__buttons">Add To Chart</button></div>
            <div><button type="submit" class="shop__buttons">+ Compare</button></div>
        </div>

        <div class="shop__niz">
            <div>
                <p class="shop__niz__text">SKU</p>
                <p class="shop__niz__text">Category</p>
                <p class="shop__niz__text">Tags</p>
                <p class="shop__niz__text">Share</p>
            </div>
            <div>
                <p class="shop__niz__text">:  SS001</p>
                <p class="shop__niz__text">:  Sofas</p>
                <p class="shop__niz__text">:  Sofa, Chair, Home, Shop</p>
                <div class="shop__mess">
                    <p class="shop__niz__text">: </p>
                    <img src="./assets/images/face.webp" alt="glav"/>
                    <img src="./assets/images/in.webp" alt="instagramm"/>
                    <img src="./assets/images/twit.webp" alt="twitter"/>
                </div>
            </div>
        </div>
    </div>
</div>