<div class="shop">
    <div class="shop__left">
        <picture >
            <source srcset="@@img-sm.webp" media="(max-width: 80px)">
            <source srcset="@@img-lg.webp" media="(max-width: 76px)">
            <img src="@@img1.webp" alt="@@alt">
        </picture><br>
        <picture >
            <source srcset="@@img-sm.webp" media="(max-width: 76px)">
            <source srcset="@@img-lg.webp" media="(max-width: 80px)">
            <img src="@@img2.webp" alt="@@alt" class="shop__img">
        </picture><br>
        <picture >
            <source srcset="@@img-sm.webp" media="(max-width: 76px)">
            <source srcset="@@img-lg.webp" media="(max-width: 80px)">
            <img src="@@img3.webp" alt="@@alt" class="shop__img">
        </picture><br>
        <picture >
            <source srcset="@@img-sm.webp" media="(max-width: 76px)">
            <source srcset="@@img-lg.webp" media="(max-width: 80px)">
            <img src="@@img4.webp" alt="@@alt" class="shop__img">
        </picture>
    </div>


    <div>
        <picture >
            <source srcset="@@img-sm.webp" media="(max-width: 500px)">
            <source srcset="@@img-lg.webp" media="(max-width: 423px)">
            <img src="@@img_glav.webp" alt="@@alt">
        </picture>
    </div>

    <div class="shop__right">
        <h class="shop__title">@@title</h>
        <span class="shop__price">@@price</span>
        <div class="shop__star">
            <div>
            <picture >
                <source srcset="@@img-sm.webp" media="(max-width: 20px)">
                <source srcset="@@img-lg.webp" media="(max-width: 124px)">
                <img src="@@star.webp" alt="@@star">
            </picture>
            </div>
            <div class="shop__starcost">
                <span class="shop__cost">5 Customer Review</span>
            </div>
        </div>
            <p class="shop__text">Setting the bar as one of the loudest speakers in its class, the
                Kilburn is a compact, stout-hearted hero with a well-balanced
                audio which boasts a clear midrange and extended highs for a
                sound.
            </p>
            <span class="shop__cost">Size</span>
            <div class="shop__size">
                <div class="shop__size__first">
                    <span class="shop__span">@@sizeNow</span>
                </div>
                <div class="shop__size__next">
                    <span class="shop__span">@@size1</span>
                </div>
                <div class="shop__size__next">
                    <span class="shop__span">@@size2</span>
                </div>
            </div>
            <span class="shop__cost">Color</span>
            <div>
                <div class="krug1"></div>
                <div class="krug2"></div>
                <div class="krug3"></div>
            </div>


        <div class="button">
            <div><button type="submit" class="shop__kolvo"></button></div>
            <div><button type="submit" class="shop__button"></button></div>
            <div><button type="submit" class="shop__button"></button></div>
        </div>
    </div>
</div>